html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

.LoginArea {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#username, #logInBtn, #logInLink {
  width : 30%;
  height : 20%;
  padding : 10px;
  margin : 10px;
}

#createAccount {
  justify-content: center;
  padding : 5px;
  text-align: center;
  margin-top : 20px;
}